<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/favicon.jpg">
    <title>Project Manager</title>
</head>

<body>
    <h2>{{title}} Page</h2>
    <form action="/signup" method="POST" autocomplete="off">
        <label for="username">Username: </label>
        <input name="username" id="username" type="text" placeholder="Enter Username" required>
        <label for="email">Email: </label>
        <input name="email" id="email" type="text" placeholder="Enter Email" required>
        <label for="password">Password: </label>
        <input name="password" id="password" type="password" placeholder="Enter Password" required>
        <label for="repassword">Re-Password: </label>
        <input name="repassword" id="repassword" type="password" placeholder="Re-Enter Password" required>

        <button type="submit">Submit</button>
    </form>
    <span>Already Registered <a href="/login">Login</a>!</span>
    {{>footer}}