<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/favicon.jpg">
    <title>Project Manager</title>
</head>

<body>
    <header>
        <div>
            <h2>{{title}} Page</h2>
            <img class="logo" src="/img/logo.png" alt="">
        </div>
        <nav>
            <span><a href="/logout">Logout</a></span>
        </nav>
        <nav>
            <span><a href="/">Home</a></span>
            <span><a href="/projects">Projects</a></span>
            <span><a href="/setting">Setting</a></span>
        </nav>
    </header>