<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/favicon.jpg">
    <title>Project Manager</title>
</head>

<body>
    <header>
        <h2>{{title}} Page</h2>
        <img class="logo" src="/img/logo.png" alt="">
        <nav>
            <span><a href="/home">Home</a></span>
            <span><a href="/projects">Projects</a></span>
            <span><a href="/about">About</a></span>
        </nav>
    </header>